<!DOCTYPE html>
<html>

<head>
  <title>My Music</title>
</head>

<body>
  <h4>A Thousand Years</h4>
  <audio controls>
    <source src="../assets/A Thousand Years.mp3" type="audio/mp3">
  </audio>
  <br>
  <a href="https://www.youtube.com/watch?v=rtOvBOTyX00">Official video</a>
  <br>
  <h4>So Far Away</h4>
  <audio controls >
    <source src="../assets/So Far Away.mp3" type="audio/mp3">
  </audio>
  <br>
  <a href="https://www.youtube.com/watch?v=o7iL2KzDh38">Official video</a>
  <br>
  <h4>The Night we Meet</h4>
  <audio controls >
    <source src="../assets/The Night we meet .mp3" type="audio/mp3">
  </audio>
  <br>
  <a href="https://www.youtube.com/watch?v=wGF7PswOENQ">Official video</a>
</body>

</html>